{% extends 'base.html.twig' %}

{% block title %}CGU / CGV{% endblock %}

{% block body %}
{% include "layout/navbar.html.twig" %}
    <div id="pLegal">
        <br>
        <p>
        <h3>Conditions Générales de Vente (CGV) - Projet CleanThis</h3><br>


        <h3>Article 1 - Champ d'Application</h3><br>

        Les présentes Conditions Générales de Vente (CGV) s'appliquent à l'ensemble des ventes de produits et services relatifs à l'application CleanThis, développée par la société Nettoyage CleanThis, accessible via le site web [URL du site web].
        Ces CGV sont accessibles à tout moment sur le site web et prévaudront sur toute autre version ou tout autre document contradictoire.<br><br>

        <h3>Article 2 - Commandes</h3><br>

        Le client passe commande sur le site web CleanThis.
        Pour passer commande, le client doit être âgé d'au moins 18 ans et avoir la capacité juridique ou être titulaire d'une autorisation parentale lui permettant d'effectuer une commande sur le site.<br><br>

        <h3>Article 3 - Prix</h3><br>

        Les prix des produits et services CleanThis sont indiqués en euros toutes taxes comprises. La société Nettoyage CleanThis se réserve le droit de modifier ses prix à tout moment, tout en garantissant au client l'application du tarif en vigueur au jour de la commande.<br><br>

        <h3>Article 4 - Paiement</h3><br>

        Le paiement est exigible immédiatement à la commande. Le client peut effectuer le paiement par carte bancaire ou tout autre moyen de paiement proposé sur le site web.<br><br>

        <h3>Article 5 - Livraison</h3><br>

        Les produits et services CleanThis sont livrés électroniquement via l'application.
        Les délais de livraison sont indiqués sur le site web et peuvent varier en fonction de la disponibilité des produits et des services.<br><br>

        <hr><br>

        <h3>Conditions Générales d'Utilisation (CGU) - Projet CleanThis</h3><br>


        <h3>Article 1 - Préambule</h3><br>

        Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les conditions d'utilisation de l'application CleanThis, développée par la société Nettoyage CleanThis.
        L'accès et l'utilisation de l'application impliquent l'acceptation intégrale et sans réserve des présentes CGU par l'utilisateur.<br><br>

        <h3>Article 2 - Accès à l'application</h3><br>

        L'accès à l'application CleanThis est libre et gratuit. Les frais d'accès et d'utilisation du réseau de télécommunication sont à la charge de l'utilisateur, selon les modalités fixées par ses fournisseurs d'accès et opérateurs de télécommunication.<br><br>

        <h3>Article 3 - Contenu de l'application</h3><br>

        Le contenu de l'application CleanThis est la propriété exclusive de la société Nettoyage CleanThis et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. 
        Toute reproduction ou représentation totale ou partielle de l'application est interdite sans l'autorisation expresse de la société Nettoyage CleanThis.<br><br>

        </p>
        {% include "layout/footer.html.twig" %}


    </div>



{% endblock %}