{% extends 'base.html.twig' %}

{% block title %}Mention Légales{% endblock %}

{% block body %}
{% include "layout/navbar.html.twig" %}
    <div id="pLegal">
        <br>
        <p>
            <h3>Mentions Légales - Projet CleanThis</h3><br>
            
            <h3>Éditeur de l'application</h3><br>

            <b>Nom de l'entreprise :</b> Nettoyage CleanThis <br>
            <b>Forme juridique :</b> [Forme juridique de l'entreprise, par exemple : Société par actions simplifiée (SAS)] <br>
            <b>Adresse du siège social :</b> [Adresse complète de l'entreprise] <br>
            <b>Numéro de téléphone :</b> [Numéro de téléphone de l'entreprise] <br>
            <b>Adresse e-mail :</b> [Adresse e-mail de l'entreprise] <br>
            <b>Capital social :</b> [Montant du capital social de l'entreprise, par exemple : 10 000 euros] <br>
            <b>Numéro d'identification :</b> [Numéro d'identification de l'entreprise au registre du commerce et des sociétés (RCS)] <br>
            <b>Numéro de TVA intracommunautaire :</b> [Numéro de TVA intracommunautaire de l'entreprise] <br><br>


            <h3>Directeur de la publication</h3><br>

            <b>Nom du directeur de la publication :</b> [Nom du directeur de la publication] <br>
            <b>Contact :</b> [Adresse e-mail ou numéro de téléphone du directeur de la publication] <br><br>

            <h3>Hébergeur de l'application</h3><br>

            <b>Nom de l'hébergeur :</b> [Nom de l'hébergeur] <br>
            <b>Adresse :</b> [Adresse complète de l'hébergeur] <br>
            <b>Numéro de téléphone :</b> [Numéro de téléphone de l'hébergeur]<br>
            <b>Adresse e-mail :</b> [Adresse e-mail de l'hébergeur]<br>
            <b>RCS :</b> [Numéro d'identification de l'hébergeur au registre du commerce et des sociétés]<br><br>

            <h3>Propriété intellectuelle</h3><br>

            L'ensemble des éléments constituant l'application CleanThis (textes, graphiques, images, logos, etc.) est la propriété exclusive de Nettoyage CleanThis et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. 
            Toute reproduction, représentation, modification ou adaptation totale ou partielle de l'application, par quelque moyen que ce soit, est strictement interdite sans l'autorisation expresse de Nettoyage CleanThis. <br><br>

            <h3>Protection des données personnelles</h3><br>

            Nettoyage CleanThis s'engage à protéger la vie privée des utilisateurs de son application. Les données personnelles collectées sont traitées avec la plus grande confidentialité et sont utilisées uniquement dans le cadre des services proposés par l'application CleanThis. 
            Conformément à la réglementation en vigueur, les utilisateurs disposent d'un droit d'accès, de rectification, de suppression et d'opposition aux données les concernant.
            Pour exercer ces droits, les utilisateurs peuvent contacter Nettoyage CleanThis via les coordonnées fournies dans les présentes Mentions Légales.<br><br>

            <h3>Cookies</h3><br>

            L'application CleanThis peut utiliser des cookies pour améliorer l'expérience utilisateur et fournir des fonctionnalités supplémentaires. Les cookies sont de petits fichiers texte stockés sur l'appareil de l'utilisateur qui permettent de reconnaître l'appareil lors des visites ultérieures.
            Les utilisateurs ont la possibilité de refuser l'utilisation de cookies en configurant les paramètres de leur navigateur, mais cela peut affecter certaines fonctionnalités de l'application.<br><br>

            <h3>Liens externes</h3><br>

            L'application CleanThis peut contenir des liens vers des sites web tiers.
            Nettoyage CleanThis n'est pas responsable du contenu de ces sites web tiers ni des pratiques en matière de protection des données personnelles de ces sites. 
            L'utilisation de ces liens est à la seule responsabilité de l'utilisateur.<br><br>


        </p>
{% include "layout/footer.html.twig" %}
    </div>

{% endblock %}