{% extends "base.html.twig" %}

{% block title %}Demande d'opération
{% endblock %}

{% block body %}
	<div class='margeGauche d-flex w-25 h-100'>
		<img src="images/icons/logo.svg" alt="logo"/>
		<img src='images/icons/customer.svg' alt='customer icon' name='home_customer_logo' id='home_customer_logo'/>
		<h1 class='text-white'>Merci d'avoir choisi Clean This</h1>
	</div>
    <div>
		<form action="">
		</form>
	</div>
{% endblock %}
