{% extends "base.html.twig" %}

{% block title %}Validation de demande
{% endblock %}

{% block body %}
    <div>
        <img src="\images\icons\logo.svg" alt="logo"/>
    </div>


    <div>
        <h1><b>Clean This</b></h1>

        <h2>Votre demande d'opération à été validée

        </h2>
    </div>
{% endblock %}
