{% extends "base.html.twig" %}

{% block title %}Validation de demande
{% endblock %}

{% block body %}
	<div class="d-flex h-100 fullValid">
		<div class="leftValid">
			<div class="ms-3 mt-3 logoValid">
				<a href="{{path('app_home')}}"><img src="\images\icons\logo.svg" alt="logo" class="logodop" width="30%" height="30%"/></a>
			</div>
			<div id="titleValid">
				<h1>
					<b>Clean This</b>
				</h1>
			</div>
			<div class="paraValid">
				<h2>Votre demande d'opération à été validée.</h2>
			</div>
			<div class="paraValid">
				<h2>Elle sera étudiée et traitée, un retour vous sera fait à l'adresse mail fournie.</h2>
			</div>
			<div class="paraValid">
				<h2>À bientôt chez Clean This !</h2>

			</div>
		</div>
        <div class="triValid">
        </div>
		<div class="recValid">
        </div>
	</div>
{% endblock %}
