{% extends "base.html.twig" %}

{% block head %}
{% include "navbar" %}
{% block title %}Demande d'opération
{% endblock %}
{% endblock %}
{% block body %}

<body>
    Salut les nazes
</body>

{% endblock %}