{% extends 'base.html.twig' %}

{% block title %}Ajouter Opérations
{% endblock %}

{% block body %}
	<h1 class='d-flex justify-content-center'>Ajouter des opérations</h1>
	<div class="container pt-5 col-2 ">
		{{form_start(form)}}
		<div class="card d-flex">
			<div>
				<img src="" alt="c'est l'image">
			</div>
		</div>
		{{form_end(form)}}

	{% endblock %}
