{% extends 'base.html.twig' %}

{% block title %}{% trans %}Chiffre d'affaire{% endtrans %}{% endblock %}

{% block body %}

<div class="scrollable-content">

<header>
    {% include "/layout/navbar.html.twig" %}
    {% include "/layout/operations_nav.html.twig" %}
</header>


<body class="chiffre-affaire-body">
    <h1 class='titreChiffreAffaire'>{% trans %}CHIFFRE D'AFFAIRE{% endtrans %}</h1>

    {{ render(controller('App\\Controller\\DonutsChartController::DonutsChart')) }}
    {{ render(controller('App\\Controller\\TableController::tableIndex')) }}

    </body>

</div>
{% endblock %}
