{% extends 'base.html.twig' %}

{% block title %}Chiffre d'affaire{% endblock %}

{% block body %}

<div class="scrollable-content">

<header>
    {% include "/layout/navbar.html.twig" %}
    {% include "/layout/operations_nav.html.twig" %}
</header>


<body class="chiffre-affaire-body">
    <h1 class='titreChiffreAffaire'>CHIFFRE D'AFFAIRE</h1>

    {{ render(controller('App\\Controller\\SalesController::salesStats')) }}
    {{ render(controller('App\\Controller\\TableController::tableIndex')) }}

    </body>

</div>
{% endblock %}
