
{% extends 'base.html.twig' %}


{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    {% block title %}Se connecter{% endblock %}
{% endblock %}


{% block body %}
    <main id="login_main">

        {# PARTIE GAUCHE CHOIX CLIENT #}
        <section class='login_section'>
            <img src='images/icons/user.svg' alt='customer icon' name='home_customer_logo' id='home_customer_logo' />
            
            <h2>Connexion</h2>
        </section>
    </main>
{% endblock %}
