
<div class="sales-container">
    <div class="sales-top" style="background-color: #ADD8CD;">
        <h2>Chiffre d'Affaires</h2>
        <p> € {{ currentYearSales }}</p>
    </div>
    <div class="sales-bottom" style="background-color: #E2E1E1;">
        <p>{{ percentage }} %</p>
    </div>
</div>
