
{% extends 'base.html.twig' %}

{% block title %}Hello OperationsInProgressController!{% endblock %}

{% block body %}
<header>
    {% include "/layout/navbar.html.twig" %}
    {% include "/layout/operations_nav.html.twig" %}
</header>


<main id="to_take_main">
    <h1>Opérations en cours</h1>

    <section id="operations_list">
        {% for operation in stockOperation|filter(operation => operation.user.id == 1) %}

            <div class='operation_to_take'>
                {# CONDITION POUR AFFICHER LES OPERATIONS DE L'ID USER #}
                {# {% if operation.user.id == 1 %} #}

                {# TYPE DE L'OPERATION #}
                <h2>{{operation.type}}</h2>

                {# IMAGE ET ID DE L'OPERATION #}
                <div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
                    <img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture' />
                    <br><br>
                    <h4 style='text-align: center; width: 100%; background-color: white;'>{{operation.id}}</h4>
                </div>

                {# FOOTER DE LA CARTE AVEC LA LOCALISATION ET LE BOUTON TERMINER OPERATION #}
                <div class='operation_bottom_part'>
                    <div class='operation_localisation'>
                        <img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon' />
                        <h3>Localisation</h3>
                    </div>
                    <button class='operation_add_button'>Terminer</button>
                </div>

                {# {% endif %}> #}
            </div>
        {% endfor %}
    </section>
        
</main>
{% endblock %}
