body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    
}

/* Couleur de l'application */

.bg-l-green{
background-color: #43CAA9;
}
.bg-m-green{
background-color: #007557;
}
.bg-d-green{
background-color: #0C4B3B;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #0C4B3B;
    padding: 0.6% 0%;
    color: white;
}
#navbar img {
    width: 15%;
    position: relative;
    bottom: 0.2rem;
    border: 3px solid white;
    border-radius: 90px;
}
#navbar h3 {
    font-size: 120%;
    font-weight: 600;
}
#navbar button{
    padding: 0.4% 1%;
    border-radius: 20px;
    background-color: #43CAA9;
    border: 3px solid white;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 0.1rem;
}


/* Footer ------------ */

footer {
     display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 2%;
    background-color: #0C4B3B;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;

    
}
footer img {
    width: 5%;
    position: relative;
    
}
footer a {
    color: white;
    text-decoration: none;
}

footer p{
    width: 100%;
    font-size: 75%;
    padding-top: 5%;

}



/* PAGE HOME -------------------------------- */

#home_main {
    display: flex;
    justify-content: center;
    gap: 10%;

    margin: 10% 12% 0% 12%;
}


.choice_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #43CAA9;
    width: 32%;
    border-radius: 30px;
    padding: 8% 0%;
}
.choice_section:hover{
    background-color: #007557;
}

#home_main a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choice_section h2 {
    margin-top: 10%;
    color: white;
    font-weight: 700;
}


#home_middle_bar {
    border: 2px solid black;
}
/* ------------------------------------------ */




/* PAGE LOGIN ------------------------------- */

#login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    margin: 10% 0%; 
}


#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #43CAA9;
    width: 24%;
    padding: 2% 1%;
    border-radius: 10%;
}

#login_form h1 {
    margin: 5% 0%;
    color: white;
    font-weight: 900;
}
#login_form label {
    margin-bottom: 1%;
    color: white;
}
#login_form input {
    margin-bottom: 5%;
    border: none;
    padding: 1% 2%;
    box-shadow: 0px 0px 3px;
}
#login_submit_button {
    background-color: #43CAA9;
    border-radius: 20px;
    border: 4px solid white;
    padding: 2% 5%;
    margin-top: 8%;
}
/* ------------------------------------------ */
/* page chiffre d'affaire */

.titreChiffreAffaire, .titreOperationsTerminees{
    text-align: center;
    font-size: 4rem;
    margin-top: 2%;
}

/*defillement de la page */

.scrollable-content {
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    max-height: calc(100vh - 50px); /* Hauteur maximale de la zone de défilement */
    /* 100px est une estimation de la hauteur de votre en-tête, ajustez-la si nécessaire */
}


/* Modules du haut chiffres */

.lotContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    margin-top: 3%;
}

.salesContainer1{
    width: 20%;
    height: 15%;
    border: 5px solid #FAEBDA;
    border-radius: 0 0 50px 0;
    background-color: #FAEBDA;
        
}
.salesContainer2{
    width: 20%;
    height: 15%;
    border: 5px solid #ADD8CD;
    border-radius: 0 0 50px 0;
    background-color: #ADD8CD;
        
}
.salesContainer3{
    width: 20%;
    height: 15%;
    border: 5px solid #0A9672;
    border-radius: 0 0 50px 0;
    background-color: #0A9672;
        
}

.titreContainer{
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
}

.titreContainer3{
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
    color: #FBF3F3;
}

.chiffreContainer{
    font-size: 3.125rem;
    font-weight: bold;
    text-align: right;
    padding-right: 10%;
}

.chiffreContainer3{
    font-size: 3.125rem;
    font-weight: bold;
    text-align: right;
    padding-right: 10%;
    color: #FBF3F3;
}

.euroSymbol, .euroSymbol3{
    margin-right: 40%;
}

.salesBottom{
    display: flex;
    font-size: 3.125rem;
    border-radius:0 0 50px 0;
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
}

.percentage{
    margin-top: 8%;
}



/* body chiffre affaire */

.chiffre-affaire-body, .operations-terminees-body{
    background-image: url('/images/photofond.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Styles généraux pour la table */

.tableChiffre {
    width: 87%;
    border-collapse: collapse;
    margin-left: 6.5%;
    border-left: 4px solid #FAEBDA;
    border-right: 4px solid #FAEBDA;
}


.tableChiffre th, .tableChiffre td {
    border-top: 4px solid #FAEBDA;
    border-bottom: 4px solid #FAEBDA;
    background-color: #fffdfd;
    padding: 0.5rem;
    text-align: left;
    padding-left: 2%;

}

.tableChiffre th {
    background-color: #f2f2f2;
    font-size: 1.9rem;
}

.objectiveColumn, .realisation {
    font-size: 2rem;
    font-weight: bold;
    text-align: end;

}

.user{
    font-size: 1.3rem;
}


/* Style pour la colonne "Statut" en fonction du statut */

.status-column {
    font-weight: bold;
}

.role{
    font-size: 1.4rem;
}

.status-column.expert {
    color: #3B3355;
}

.status-column.senior {
    color: #007557;
}

.status-column.apprenti {
    color: #43CAA9;
}


/* Styles pour les colonnes "Objectif" et "Réalisation" */

.objectiveColumn {
    text-align: right;
}

/* Styles pour la barre de progression */

.progress-container {
    width: 100%;
    background-color: #FAEBDA;
    height: 30px;
    border-radius: 50px;
    margin-top: 1.25rem;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #0C4B3B;
    border-radius: 50px 0 0 50px;
    transition: width 0.3s ease;
}


.salesBottom{
    display: flex;
    font-size: 50px;
    border-radius:0 0 50px 0;
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
}

.percentage{
    margin-top: 8%;
}


/* body chiffre affaire */

.chiffre-affaire-body{
    background-image: url('/images/photofond.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.objectiveColumn {
    font-size: 2rem;
    font-weight: bold;
}

.operation{
    font-weight: bold;
    font-size: 1.7rem;
}

/* Style pour la colonne "Statut" en fonction du statut */
.status-column {
    font-weight: bold;
}

.status-column.expert {
    color: #3B3355;
    font-size: 1.19rem;
}

.status-column.senior {
    color: #007557;
    font-size: 1.19rem;
}

.status-column.apprenti {
    color: #43CAA9;
    font-size: 1.19rem;
}

/* Styles pour les colonnes "Objectif" et "Réalisation" */
.objectiveColumn {
    text-align: right;
}

/* Styles pour la barre de progression */
.progress-container {
    width: 100%;
    background-color: #FAEBDA;
    height: 2rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #0C4B3B;
    border-radius: 50px 0 0 50px;
    transition: width 0.3s ease;
}

/*Opérations terminées*/

.tableOpTerminees-tread{
    background-color: #3B3355;

}

.tableOpTerminees {
    width: 87%;
    border-collapse: collapse;
    margin-left: 6.5%;
    border-bottom: 4px solid #000000;

}

.teteOpTerm {
    border-radius: 0 50px 0 50px;
}

.tableOpTerminees th,
.tableOpTerminees td {
    padding: 0.5rem;
    text-align: left;
    padding-left: 2%;
}

.tableOpTerminees th {
    background-color: #3B3355;
    color: white;
    font-size: 1.9rem;
}








/* Page formulaire de demande d'opération */

.globale{
    height: 1080px;
    gap: 2%;
}

.margeGauche {
    flex-direction: column;
    background-color: #43CAA9;
    padding-left: 1%;
}

.formDOP{
    padding-top: 2%;

}

.titreDOP{
    justify-content: center;

}
#drop_zone {
	border: 2px solid black;
	width: 100%;
	height: 200px;
    
}


/* Page Gestion utilisateur------------------------------------- */

#colAp{
    color: #43CAA9;
}
#colSe{
    color: #0C4B3B;
}
#colEx{
    color: #3B3355;
}

#createUser{
    background-color: #43CAA9;
    color: white;
    margin-top: 2%;
    margin-left: 35%;
    padding-bottom: 5%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}
#btn_val{
    margin-left: 35%;
    background-color: #43CAA9;
    border-radius: 20px;
    border: 4px solid white;
    padding: 2% 5%;
    margin-top: 8%;
}

#return{
    background-color: #43CAA9;
    color: white;
    margin: 1%;
    padding-bottom: 0.2%;
    border-radius: 100%;
}



/* PAGE OPERATIONS A PRENDRE ---------------- */

/* barre de navigation secondaire */
#operations_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    
    padding: 0.4% 0%;
    background-color: #43CAA9;
}
#operations_nav h3{
    color: white;
    font-size: 100%;
    font-weight: 600;

}

.btn_nav{
    background-color: #43CAA9;
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 600;
}

.btn_nav{
    background-color: #43CAA9;
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 600;
}

#to_take_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 4%;
}

#to_take_main h1 {
    margin-bottom: 4%;
    font-weight: 600;
}

#operations_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;

    width: 80%;
    margin-bottom: 5%;
}

/* conteneur d'une opération */
.operation_to_take {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 28%;
    background-color: #43CAA9;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
    margin-bottom: 4%;
}
.operation_to_take h2{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 4%;
    padding: 4% 0%;
    font-weight: 600;
    font-size: 120%;
}
.operation_to_take img{
    padding: 5% 0%;
}

.operation_bottom_part {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #0C4B3B;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 2% 0%;
}
.operation_bottom_part button{
    background-color: white;
    border-radius: 20px;
    padding: 2% 6%;
    color: #0C4B3B;
    border: none;
    font-weight: 600;
}

.operation_localisation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.operation_localisation h3{
    color: white;
    font-size: 92%;
    text-transform: uppercase;
    font-weight: 600;
}
#localisation_icon{
    color: white;
}
/* ----Page Tarif---------------------------- */

.card-img{
    background-image: url('/images/broken_image.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20rem;
}

/* class pour centrer element dans tableau */

.center-table tr,td{
    text-align: center;
    vertical-align: middle;
}

.caroutaf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #43CAA9;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
}

/* Style btn  ------------------------------------------------------- */ 

.btn-style {
    background-color: #43CAA9;
    padding: 14px 40px;
    color:#fff;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px;  */
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .btn-style span:last-child {
    display: none;
   }
   
   .btn-style:hover {
    transition: .4s;
    border: 2px solid #43CAA9;
    background-color: #fff;
    color: #43CAA9;
   }
   
   .btn-style:active {
    background-color: #43CAA9;
   }
   
   /* --------------------------------------------------------------------- */
   