body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;    
}

/* Couleur de l'application */

.bg-l-green{
background-color: #43CAA9;
}
.bg-m-green{
background-color: #007557;
}
.bg-d-green{
background-color: #0C4B3B;
}
.box-shadow{
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}



/* Navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10%; */

    background-color: #0C4B3B;
    padding: 0.6% 1%;
    color: white;
}
#navbar img {
    /* width: 15%; */
    width: 3em;
    border: 3px solid white;
    border-radius: 90px;
}
#navbar h3 {
    font-size: 120%;
    font-weight: 600;
}
#navbar button{
    padding: 0.4% 1%;
    border-radius: 20px;
    background-color: #43CAA9;
    border: 3px solid white;
    color: white;
    font-weight: 600;
    position: relative;
    bottom: 0.1rem;
}


/* Footer ------------ */

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 0.1%;
    background-color: #0C4B3B;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1200;
    
}
footer img {
    width: 5%;
    position: relative;
    
}
footer a {
    color: white;
    text-decoration: none;
}

footer p{
    width: 100%;
    font-size: 75%;
    padding-top: 5%;

}



/* PAGE HOME -------------------------------- */

    #home_main {
        display: flex;
        justify-content: center;
        gap: 10%;

        height: 61vh;
        margin: 10% 8% 10% 8%;
    }


.choice_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #43CAA9;
    width: 40%;
    border-radius: 30px;
    padding: 8% 1%;
    height: fit-content;
    text-align: center;
}
.choice_section:hover{
    background-color: #007557;
}

#home_main a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.choice_section h2 {
    color: white;
    font-weight: 700;
    margin-top: 10%;
}


#home_middle_bar {
    border: 2px solid black;
}
/* ------------------------------------------ */




/* PAGE LOGIN ------------------------------- */

#login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    position: relative;
    z-index: +1;
    padding-bottom: 12rem;
}


#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #43CAA9;
    width: 24%;
    padding: 2% 1%;
    border-radius: 10%;
}

#login_form h1 {
    margin: 5% 0%;
    color: white;
    font-weight: 900;
}
#login_form label {
    margin-bottom: 1%;
    color: white;
}
#login_form input {
    margin-bottom: 5%;
    border: none;
    padding: 1% 2%;
    box-shadow: 0px 0px 3px;
}
#login_submit_button {
    background-color: #43CAA9;
    border-radius: 20px;
    border: 4px solid white;
    padding: 2% 5%;
    margin-top: 8%;
}

#login_submit_button:hover{
    background-color: white;
    border-color: #0C4B3B;
}

/* ------------------------------------------------------*/
/*    Page connexion utilisateur/*
/* ------------------------------------------------------*/


#persoCo{
    position: absolute;
    z-index: -1;
    width: 92%;
    margin-left: 7%;
} 

#logoCo{
    width: 5rem;
    margin-top: 2rem;
}

#enteteCo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 20px;
}

#titrePageCo{
   font-size: 3.125rem;
   font-weight: bold;
   text-shadow: 1px 3px 3px grey ;
   width: 70rem;
   margin-left: 5rem;
   margin-top: 1rem;
}

#logoText{
    display: flex;
    margin-left: 3%;
}



/* ------------------------------------------ */
/* page chiffre d'affaire */
/*--------------------------------------------*/


/*DonnutsChart*/

.wrapper{
    width: 30rem;
    background-color: white;
    border: solid 5px #43CAA9;
    border-radius: 25px;
    padding: 2rem;

}

.chart2{
    width: 60rem;
    background-color: white;
    border: solid 5px #43CAA9;
    border-radius: 25px;
    padding: 2rem;
}

.statsHaut{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;

}


.titreChiffreAffaire, .titreOperationsTerminees{
    text-align: center;
    font-size: 4rem;
    margin-top: 2%;
}

/*defillement de la page */

.scrollable-content {
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    max-height: calc(100vh - 50px); /* Hauteur maximale de la zone de défilement */
    /* 100px est une estimation de la hauteur de votre en-tête, ajustez-la si nécessaire */
}


/* Modules du haut chiffres */

.lotContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    margin-top: 3%;
}

.salesContainer1{
    width: 20%;
    height: 15%;
    border: 5px solid #FAEBDA;
    border-radius: 0 0 50px 0;
    background-color: #faedda;
        
}
.salesContainer2{
    width: 20%;
    height: 15%;
    border: 5px solid #ADD8CD;
    border-radius: 0 0 50px 0;
    background-color: #ADD8CD;
        
}
.salesContainer3{
    width: 20%;
    height: 15%;
    border: 5px solid #0A9672;
    border-radius: 0 0 50px 0;
    background-color: #0A9672;
        
}


.euroSymbol, .euroSymbol3{
    margin-right: 40%;
}

.salesBottom{
    display: flex;
    font-size: 3.125rem;
    border-radius:0 0 50px 0;
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
}

.percentage{
    margin-top: 8%;
}



/* body chiffre affaire */

.chiffre-affaire-body, .operations-terminees-body{
    background-image: url('/images/photofond.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Styles généraux pour la table */

.tableChiffre {
    width: 87%;
    border-collapse: collapse;
    margin-left: 6.5%;
    border-left: 4px solid #FAEBDA;
    border-right: 4px solid #FAEBDA;
}


.tableChiffre th, .tableChiffre td {
    border-top: 4px solid #FAEBDA;
    border-bottom: 4px solid #FAEBDA;
    background-color: #fffdfd;
    padding: 0.5rem;
    text-align: left;
    padding-left: 2%;

}

.tableChiffre th {
    background-color: #f2f2f2;
    font-size: 1.9rem;
}

.objectiveColumn, .realisation {
    font-size: 2rem;
    font-weight: bold;
    text-align: end;

}

.user{
    font-size: 1.3rem;
}




/* Style pour la colonne "Statut" en fonction du statut */

.status-column {
    font-weight: bold;
}

.role{
    font-size: 1.4rem;
}

.status-column.expert {
    color: #3B3355;
}

.status-column.senior {
    color: #007557;
}

.status-column.apprenti {
    color: #43CAA9;
}


/* Styles pour les colonnes "Objectif" et "Réalisation" */

.objectiveColumn {
    text-align: right;
}

/* Styles pour la barre de progression */

.progress-container {
    width: 100%;
    background-color: #FAEBDA;
    height: 30px;
    border-radius: 50px;
    margin-top: 1.25rem;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #0C4B3B;
    border-radius: 50px 0 0 50px;
    transition: width 0.3s ease;
}


.salesBottom{
    display: flex;
    font-size: 50px;
    border-radius:0 0 50px 0;
    background-color: #FDFDFD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15%;
    padding-left: 15%;
}

.percentage{
    margin-top: 8%;
}


/* body chiffre affaire */

.chiffre-affaire-body, .op-terminer-body{
    background-image: url('/images/photofond.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}


.objectiveColumn {
    font-size: 2rem;
    font-weight: bold;
}

.operation{
    font-weight: bold;
    font-size: 1.7rem;
}

/* Style pour la colonne "Statut" en fonction du statut */
.status-column {
    font-weight: bold;
}

.status-column.expert {
    color: #3B3355;
    font-size: 1.19rem;
}

.status-column.senior {
    color: #007557;
    font-size: 1.19rem;
}

.status-column.apprenti {
    color: #43CAA9;
    font-size: 1.19rem;
}

/* Styles pour les colonnes "Objectif" et "Réalisation" */
.objectiveColumn {
    text-align: right;
}

/* Styles pour la barre de progression */
.progress-container {
    width: 100%;
    background-color: #FAEBDA;
    height: 2rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #0C4B3B;
    border-radius: 50px 0 0 50px;
    transition: width 0.3s ease;
}

/*Opérations terminées*/

.tableOpTerminees-tread{
    background-color: #3B3355;

}

.tableOpTerminees {
    width: 87%;
    border-collapse: collapse;
    margin-left: 6.5%;
    border-bottom: 4px solid #000000;

}

.teteOpTerm {
    border-radius: 0 50px 0 50px;
}

.tableOpTerminees th,
.tableOpTerminees td {
    padding: 0.5rem;
    text-align: left;
    padding-left: 2%;
}

.tableOpTerminees th {
    background-color: #3B3355;
    color: white;
    font-size: 1.9rem;

}










/* Page formulaire de demande d'opération */
.globale{
    display: flex;
    gap: 2%;
    height: 100%;
}

.margeGauche {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    
    text-align: center;
    background-color: #43CAA9;
    padding: 6% 0%;
    min-width: 20%;
    width: 25%;
    height: auto;
}

.formDOP{
    padding-top: 2%;
}
.titreDOP{
    justify-content: center;

}

#drop_zone {
	border: 2px solid black;
	width: 100%;
	height: 200px;
    
}

/* Partie liste des adresses */


.globale li {
    list-style: none;
    position: left;
    cursor: pointer;
    border: 1px solid gray;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.globale li :hover{
    background-color: rgb(176, 189, 199);
}


.liste {
    
    background-color: white;
    border-bottom: 1px solid black;
}

.liste :last-child {
    border-bottom: none;
}

/* Page Validation de formulare de demande d'opération */

.logoValid{
    width: -moz-fit-content;
    width: fit-content;
}

#titleValid{
    padding-top: 4rem;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 4rem;
}

.leftValid{
    display: block;
    
}

.paraValid{
    padding-left: 6rem;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 4rem;
    
}

.triValid{
    width  : 0;
    height : 0;
    border-bottom : 58rem solid #43CAA9;
    border-left   : 20rem solid transparent;
}

.recValid{
    display: flex;
    background-color: #43CAA9;
    height: 58rem;
    width: 60rem;
    float: right;
}

.fullValid{
    justify-content: space-between;
}


/* Page Gestion utilisateur------------------------------------- */

#colAp{
    color: #43CAA9;
}
#colSe{
    color: #0C4B3B;
}
#colEx{
    color: #3B3355;
}

#createUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    background-color: #43CAA9;
    color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5% 4%;
    width: 40%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
}
#btn_val{
    margin-left: 35%;
    background-color: #43CAA9;
    border-radius: 20px;
    border: 4px solid white;
    padding: 2% 5%;
    margin-top: 8%;
}

#return{
    background-color: #43CAA9;
    color: white;
    margin: 1%;
    padding-bottom: 0.2%;
    border-radius: 100%;
    position: fixed;
}



/* PAGE OPERATIONS A PRENDRE ---------------- */

/* barre de navigation secondaire */
#operations_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    padding: 0.4% 0%;
    background-color: #43CAA9;
}
#operations_nav h3{
    color: white;
    font-size: 100%;
    font-weight: 600;

}

.btn_nav{
    background-color: #43CAA9;
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 600;
}

.btn_nav{
    background-color: #43CAA9;
    color: white;
    border: none;
    font-size: 100%;
    font-weight: 600;
}

#to_take_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 4%;
}

#to_take_main h1 {
    margin-bottom: 4%;
    font-weight: 600;
}

#operations_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;

    width: 80%;
    margin-bottom: 5%;
}

/* conteneur d'une opération */
.operation_to_take {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 28%;
    background-color: #007557;
    border-radius: 20px;
    box-shadow: 0px 0px 6px;
    margin-bottom: 4%;
}
.operation_to_take h2{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 4%;
    padding: 4% 0%;
    font-weight: 600;
    font-size: 100%;
}
.operation_to_take img{
    padding: 5% 0%;
}

.operation_bottom_part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0C4B3B;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 2%;
}
.operation_bottom_part button{
    background-color: white;
    border-radius: 20px;
    padding: 2% 6%;
    color: #0C4B3B;
    border: none;
    font-weight: 600;
}

.operation_localisation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.operation_localisation h3{
    color: white;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 600;
    width: 95%;
}
#localisation_icon{
    color: white;
}

.card-custom {
    height: 25rem;
    width: 25rem; 
}

.card-img-custom {
    height: 10rem;
    object-fit: cover;
}

.card-content {
    flex-grow: 1;
}
/* ----Page Tarif---------------------------- */



.caroutaf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #43CAA9;
    /* height: 86vh; */
    padding: 4% 0% 12% 0%;
}

#prixImg{
    position: relative;
    top: 38rem; left: 68rem;
    z-index: 2;
}



/* Page message envoi mail -------------------------------------------*/

.messageMailSend{
    margin-top: 10%;
    text-align: center;
    color: #0A9672;
}

/* ----Page Mention legale---------------------------- */

#pLegal{
    background-image: url("/images/photofond.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


/* class pour centrer element dans tableau */

.center-table tr,td{
    text-align: center;
    vertical-align: middle;
}



/* Style btn  ------------------------------------------------------- */ 

.btn-style {

    background-color: #43CAA9;
    padding: 1rem;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    text-decoration: none;
   }
   
   .btn-style span:last-child {
    display: none;
   }
   
   .btn-style:hover {
    transition: .4s;
    border: 2px solid #43CAA9;
    background-color: #fff;
    color: #43CAA9;
   }
   
   .btn-style:active {
    background-color: #43CAA9;
   }
   
   .form-control::-webkit-input-placeholder {
    opacity: 50%;
  }


   /* --------------------------------------------------------------------- */
   /* -------------------------- MEDIA QUERIES ---------------------------- */
   /* --------------------------------------------------------------------- */

    /* Sur tous types d'écrans orientés verticalement */
    @media all and (orientation: portrait) {
        /* HOME PAGE PORTRAIT */
        #home_main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            padding-top: 4%;
        }
        #home_main a{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        #home_middle_bar {
            border: 2px solid black;
            width: 80%;
        }

        .choice_section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            background-color: #43CAA9;
            width: 80%;
            border-radius: 30px;
            height: 40em;
            text-align: center;
        }
        .choice_section:hover{
            background-color: #007557;
        }
        .choice_section h2 {
            color: white;
            font-weight: 700;
            margin-top: 6%;
        }


        /* NAVIGATION BAR PORTRAIT */
        #navbar {
            padding: 3% 4%;
        }
        #navbar img {
            width: 5em;
        }
        #navbar h3 {
            font-size: 130%;
            width: 54%;
        }
        #nav_logout{
            padding: 1% 2%;
            font-size: 125%;
        }


<<<<<<< HEAD
/* Connexion */

        #enteteCo {
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-right: 10%;
            font-size: 125%;

        }
        
        #persoCo{
            margin-top: 44%;
            width: 95%;
            margin-left: 5%;
        } 
        
        #login_form {
            margin-left: 7%;
            margin-top: 20%;
            width: 50%;
            padding: 2% 1%;
            border-radius: 10%;
        }
            
        #logoText{
            display: flex;
            width: 95%;
        }
        
        #bodyCoUtili{
            margin-top: 10%;
        }

        #login_main{
            font-size: 200%;
        }

        #login_form{
            width: 50%;
            padding: 5% 5%;
        }

        /* chiffre affaire */

        .tableChiffre {
            width:90%;
            border-collapse: collapse;
            margin-left: 6.5%;
            border-left: 4px solid #FAEBDA;
            border-right: 4px solid #FAEBDA;
        }
        
        .tableChiffre th {
            background-color: #f2f2f2;
            font-size: 1.75rem;
        }
        
        .chiffre-affaire-body, .operations-terminees-body{
            background-image: url('/images/photofond.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh; 
            width: 100vw;  
            margin: 0; 
            padding: 0;   
        }
        
    
    
=======
        /* OPERATION FORM PORTRAIT */
        .globale{
            display: flex;
            flex-direction: column;
            gap: 2%;
        }

        .margeGauche {
            display: flex;
            align-items: center;
            flex-direction: column;

            text-align: center;
            background-color: #43CAA9;
            padding: 2% 0%;
            min-width: 20%;
            width: 100%;
        }
        .margeGauche img {
            width: 30%;
        }

        .formDOP{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 10% 12%;
        }
        .formDOP h3 {
            margin-top: 6%;
        }
        .titreDOP{
            justify-content: center;
            margin-top: 1%;
        }


        /* CREATE USER PORTRAIT */
        #createUser{
            margin: auto;
            margin-top: 10%;
            padding-bottom: 5%;
            width: 60%;
            font-size: 150%;
        }
>>>>>>> 8f7eefebcc2e6bc3dcc018974dc04b19f12cc024
    }