{% extends 'base.html.twig' %}

{% block title %}Liste des opérations
{% endblock %}

{% block body %}
	<header>
		{% include "/layout/navbar.html.twig" %}
		{% include "/layout/operations_nav.html.twig" %}

	</header>
	<body class="op-terminer-body">
		<div class="d-flex align-items-center justify-content-end bg-d-green text-white p-1">
				{% include "/layout/search_results.html.twig" %}
		</div>
		<div class="d-flex justify-content-center pt-3">
			{% if getUrlStatus == "A faire" %}
				<h1>Opérations disponibles</h1>
			{% elseif getUrlStatus == "En cours"%}
				<h1>Opérations en cours</h1>
			{% else %}
				<h1>Opérations terminées</h1>
			{% endif %}
		</div>
		<main class="container-fluid text-center min-vh-100">
			<section class='d-flex flex-wrap m-5 justify-content-center'>
				{% set included_table_op = false %}
				{% for operation in operations %}
					{% if operation.status == getUrlStatus and operation.status != "Terminer" %}

        <section id="operations_list">
            {% set included_table_op = false %}
            {% for operation in operations %}
                {% if operation.status == getUrlStatus and operation.status != "Terminer" %}
                    <div class='operation_to_take'>
                        <h2>{{ operation.type }}</h2>
                        <div style='width: 100%; display: flex; justify-content: flex-end; align-items: center; flex-direction: column;'>
                            <img src='/images/broken_image.svg' alt='operation picture' name='operation_picture' id='operation_picture'/>
                            <br><br>
                            <h4 style='text-align: center; width: 100%; background-color: white;'>{{ operation.getClient() }}</h4>
                        </div>
                        <div class='operation_bottom_part'>
                            <div class='operation_localisation'>
                                <img src='/images/icons/distance.svg' alt='localisation icon' name='localisation_icon' id='localisation_icon'/>
                                <h3>Localisation</h3>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if not included_table_op %}
                        {% include "table_op_terminees/index.html.twig" %}
                        {% set included_table_op = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </section>
    </main>

</body>
{% endblock %}
