
{% extends 'base.html.twig' %}


{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    {% block title %}Hello HomeController!{% endblock %}
{% endblock %}


{% block body %}
    <nav id="operations_nav">
        <h3>Ajouter des opérations</h3>
        <h3>Liste des opérations en cours</h3>
        <h3>Opérations terminées</h3>
    </nav>
{% endblock %}
