{% extends 'base.html.twig' %}

{% block body %}
		<form class="d-flex p-2 h-auto" method="GET" action="{{ path('app_operation_filter_query', {'status': getUrlStatus}) }}">
			<input class="form-control form-control h-auto me-4" type="text" name="query" placeholder="Rechercher par client ..." required>
			<button class="btn-style h-auto" type="submit">Rechercher</button>
		</form>
{% endblock %}
