{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}
    <header>
        {% include "/layout/navbar.html.twig" %}
        {% include "/layout/operations_nav.html.twig" %}
    </header>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="messageMailSend">
    <h1>La facture a été envoyée avec succès !</h1>

</div>
{% endblock %}
